[submodule "hugo/themes/ananke"]
	path = hugo/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo/themes/minimal"]
	path = hugo/themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "site/themes/minimal"]
	path = site/themes/minimal
	url = https://github.com/calintat/minimal.git
